*{
    margin: 0;
    padding: 0;
}

#container{
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: white;
    height: 100vh;
}

h1{
    font-size: 3rem;
}

#clock{
    font-size: 2.5rem;
    font-weight: 500;
    color: rgb(215, 25, 139);

}